.carousel-inner {
    width: 95%;
   
    margin-top: 50px;
margin-left: 2% !important;
   
  }
  .carousel-inner img{
    height: 350px;
   
  }
  .card{
    width: 15%;
    height: 250px;
    margin-top: 10px;
display: inline-block;
    margin-right: 60px;
    background-color: lightgrey;

}
  img{
    width: 60%;
    height: 60%;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    
  } 
 
.image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -3px;
}
      
 span{
    font-size:15px;
    margin-top: 2px;
    background-color: black;
 margin-left: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    

 }       
h4{
  margin-top: 10px;
}

.banner img{
  width: 100%;
  height: 340px;
}
@media(max-width:1234px){
  .card{
    width: 19%;
  }
}
@media(max-width:1034px){
  .card{
    width: 25%;
  }
  .banner img{
    height: 250px;
  }
  .carousel-inner img{
    height: 250px;
  }
}
@media(max-width:884px){
  .card{
    width: 37%;
    margin-left: 20px;
    height: 270px;
  }
  .banner img{
    height: 270px;
  }
  .carousel-inner img{
    height: 270px;
  }
}
@media(max-width:484px){
  .card{
    width: 100%;
  
    height: 270px;
  }
  .banner img{
    height: 230px;
  }
  .carousel-inner img{
    height: 230px;
    width: 100%;
  }
.card-img-top{
  width: 30%;
  margin-left: 130px;
}
}