
<div class="card">
    <img class="card-img-top" src="assets/smart-tv/realme108cm.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">realme 108 cm (43 inch) Full HD LED Smart Tv </h4>
<ul>
<li>Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube</li>
    <li>Operating System: Android (Google Assistant & Chromecast in-built)</li>
   <li>Resolution: Full HD 1920 x 1080 Pixels</li>
    <li>Sound Output: 24 W</li>
   <li>Refresh Rate: 60 Hz</li>

</ul>   
<p>₹19,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  
<div class="card">
    <img class="card-img-top" src="assets/smart-tv/infinix-80cm.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">Infinix Y1 80 cm (32 inch) HD  LED Smart TV </h4>
<ul>
<li>Supported Apps: Prime Video|Youtube</li>
    <li>Operating System: Linux</li>
  <li> Resolution: HD Ready 1366 x 768 Pixels</li>
   <li>Sound Output: 20 W</li>
   <li>Refresh Rate: 60 Hz</li>

</ul>   
<p>₹8,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/smart-tv/lg-smarttv.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">LG 80 cm (32 inch) HD Ready LED Smart WebOS TV</h4>
<ul>
<li>Supported Apps: Netflix|Prime</li>
    <li>Operating System: WebOS</li>
  <li> Resolution: HD Ready 1366 x 768 Pixels</li>
   <li>Sound Output: 10 W</li>
   <li>Refresh Rate: 50 Hz</li>

</ul>   
<p>₹13,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/smart-tv/realme-smarttv-4k.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">realme 108 cm (43 inch) Ultra HD (4K) TV </h4>
<ul>
<li>Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube</li>
  <li> Operating System: Android (Google Assistant & Chromecast in-built)</li>
   <li>Resolution: Ultra HD (4K) 3840 x 2160 Pixels</li>
    <li>Sound Output: 24 W</li>
   <li> Refresh Rate: 60 Hz</li>
</ul>   
<p>₹23,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  
  <div class="card">
    <img class="card-img-top" src="assets/smart-tv/realme-smarttv-4k-1.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">realme 126 cm (50 inch) Ultra HD (4K) LED Tv</h4>
<ul>
<li>Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube</li>
  <li> Operating System: Android (Google Assistant & Chromecast in-built)</li>
   <li>Resolution: Ultra HD (4K) 3840 x 2160 Pixels</li>
    <li>Sound Output: 24 W</li>
   <li> Refresh Rate: 60 Hz</li>
</ul>   
<p>₹27,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/smart-tv/samsung-80cm.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">SAMSUNG 80 cm (32 Inch) HD Ready LED Tv</h4>
<ul>
   <li> Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube</li>
   <li> Operating System: Tizen</li>
    <li>Resolution: HD Ready 1366 x 768 Pixels</li>
    <li>Sound Output: 20 W</li>
    <li>Refresh Rate: 50 Hz</li>
</ul>   
<p>₹15,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/smart-tv/mi-4k.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">Mi X Series 108 cm (43 inch) Ultra HD (4K) </h4>
<ul>
   <li>Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube</li>
   <li> Operating System: Android (Google Assistant & Chromecast in-built)</li>
    <li>Resolution: Ultra HD (4K) 3840 x 2160 Pixels</li>
    <li>Sound Output: 30 W</li>
    <li>Refresh Rate: 60 Hz</li>
</ul>   
<p>₹24,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/smart-tv/samsung-4k.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">SAMSUNG 108 cm (43 inch) Ultra HD Tv</h4>
<ul>
   <li>Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube</li>
   <li> Operating System: Android (Google Assistant & Chromecast in-built)</li>
    <li>Resolution: Ultra HD (4K) 3840 x 2160 Pixels</li>
    <li>Sound Output: 20 W</li>
    <li>Refresh Rate: 60 Hz</li>
</ul>   
<p>₹30,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/smart-tv/mi-smart-4k.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">Mi X Pro 108 cm (43 inch) Ultra HD (4K) LED </h4>
<ul>
   <li>Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube</li>
   <li> Operating System: Android (Google Assistant & Chromecast in-built)</li>
    <li>Resolution: Ultra HD (4K) 3840 x 2160 Pixels</li>
    <li>Sound Output: 30 W</li>
    <li>Refresh Rate: 60 Hz</li>
</ul>   
<p>₹₹32,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>