<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div class="card">
    <img class="card-img-top" src="assets/vivo/vivo-t2.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">vivo T2x 5G (Marine Blue, 128 GB)  </h4>
<ul>
<li>6 GB RAM | 128 GB ROM</li>
   <li> 16.71 cm (6.58 inch) Full HD+ Display</li>
   <li> 50MP + 2MP | 8MP Front Camera</li>
   <li> 5000 mAh Battery</li>
  <li> Dimensity 6020 Processor</li>
</ul>   
<p>₹14,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/vivo/vivo-t2-pro.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"> vivo T2 Pro 5G (New Moon Black, 256 GB) </h4>
<ul>
<li>8 GB RAM | 256 GB ROM</li>
  <li>  17.22 cm (6.78 inch) Full HD+ Display</li>
    <li>64MP + 2MP | 16MP Front Camera</li>
    <li>4600 mAh Battery</li>
   <li>Dimensity 7200 Processor</li>
</ul>   
<p>₹24,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/vivo/vivo-t2-1.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"> vivo T2 5G (Velocity Wave, 128 GB) </h4>
<ul>
<li>6 GB RAM | 128 GB ROM</li>
<li> 16.21 cm (6.38 inch) Full HD+ Display</li>
 <li> 64 MP (OIS) + 2MP | 16MP Front Camera</li>
<li>4500 mAh Battery</li>
 <li>Snapdragon 695 Processor</li>
</ul>   
<p>₹16,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/vivo/vivo-t2-2.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">vivo T2 5G (Nitro Blaze, 128 GB) </h4>
<ul>
<li>6 GB RAM | 128 GB ROM</li>
<li> 16.21 cm (6.38 inch) Full HD+ Display</li>
 <li> 64 MP (OIS) + 2MP | 16MP Front Camera</li>
<li>4500 mAh Battery</li>
 <li>Snapdragon 695 Processor</li>
</ul>   
<p>₹18,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/vivo/vivo-v29.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">vivo V29 5G (Red, 128 GB)  </h4>
<ul>
<li>8 GB RAM | 128 GB ROM</li>
  <li>17.22 cm (6.78 inch) Full HD+ AMOLED Display</li>
  <li>50MP + 8MP + 2MP | 50MP Front Camera</li>
  <li>4600 mAh Battery</li>
  <li>778G Processor</li>
</ul>   
<p>₹32,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  
  <div class="card">
    <img class="card-img-top" src="assets/vivo/vivo-v29e.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">vivo V29e 5G (Artistic Blue, 128 GB)  </h4>
<ul>
<li>8 GB RAM | 128 GB ROM</li>
<li> 17.22 cm (6.78 inch) Full HD+ Display</li>
  <li>64MP + 8MP | 50MP Front Camera</li>
<li>  5000 mAh Battery</li>
  <li>Snapdragon 695 Processor</li>
</ul>   
<p>₹26,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/vivo/vivo-v29-pro.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">vivo V29 Pro 5G (Black, 256 GB) </h4>
<ul>
<li>8 GB RAM | 256 GB ROM</li>
<li>  17.22 cm (6.78 inch) Full HD+ AMOLED Display</li>
  <li>50MP + 12MP + 8MP | 50MP Front Camera</li>
  <li>4600 mAh Battery</li>
 <li>Dimensity 8200 Processor</li>
</ul>   
<p>₹39,999  <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/vivo/vivo-x90pro.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">vivo X90 Pro (Legendary Black, 256 GB) </h4>
<ul>
<li>12 GB RAM | 256 GB ROM</li>
 <li>17.22 cm (6.78 inch) Full HD+ Display</li>
  <li>50MP + 50MP + 12MP | 32MP Front Camera</li>
  <li>4870 mAh Battery</li>
<li>Dimensity 9200 Processor</li>
</ul>   
<p>₹74,975  <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/vivo/vivo-v27pro.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">vivo V27 Pro 5G (Noble Black, 256 GB)</h4>
<ul>
<li>12 GB RAM | 256 GB ROM</li>
 <li> 17.22 cm (6.78 inch) Full HD+ Display</li>
  <li>50MP (OIS) + 8MP + 2MP | 50MP Front Camera</li>
 <li> 4600 mAh Battery</li>
 <li>Mediatek Dimensity 8200 Processor</li>
</ul>   
<p>₹39,999  <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>



