.card{
    width: 20%;
    height: 300px;
    margin-top: 20px;
display: inline-block;
    margin-right: 60px;

}
  img{
    width: 50%;
    height: 30%;
    margin-left: 20px;
    margin-top: 10px;
    
  } 
 
.image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -3px;
}
      
 span{
    font-size:15px;
    margin-top: 2px;
    background-color: black;
 margin-left: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    

 }       
 a{
    margin-left: 30px
 }