<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
 <div class="card">
    <img class="card-img-top" src="assets/shoes/image.webp" alt="Card image cap" >
    <div class="card-body">
      <h4>BRUTON </h4>
      <h6 class="card-title">Trendy Running Shoes Running Shoes For Men  (Blue)</h6>  
     
<p>₹799<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/shoes/Airson.webp" alt="Card image cap" >
    <div class="card-body">
      <h4>Airson </h4>
      <h6 class="card-title">Junior Zero1 Sports shoes for Men (White)</h6>  
     
<p>₹1,299<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/shoes/URBANBOX.webp" alt="Card image cap" >
    <div class="card-body">
      <h4>URBANBOX  </h4>
      <h6 class="card-title">Trending Stylish Casual Outdoor Sneakers Shoes</h6>  
     
<p>₹499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/shoes/Deals4you.webp" alt="Card image cap" >
    <div class="card-body">
      <h4>Deals4you  </h4>
      <h6 class="card-title">Sneakers For Women   Casual(White)</h6>  
     
<p>₹399<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/shoes/Field Care.webp" alt="Card image cap" >
    <div class="card-body">
      <h4>Field Care  </h4>
      <h6 class="card-title">Men's Casual Trendy Sneakers For Men</h6>  
     
<p>₹1,299<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="banner">
    <img src="assets/shoes/banner1.jpg">
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/shoes/CAMPUS.webp" alt="Card image cap" >
  <div class="card-body">
    <h4>CAMPUS   </h4>
    <h6 class="card-title">OXYFIT (N) Running Shoes For Men  (Blue)</h6>  
   
<p>₹499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/asian.webp" alt="Card image cap" >
<div class="card-body">
  <h4>asian   </h4>
  <h6 class="card-title">Bouncer-01 Firozi Sports,Casual Shoes For Men  </h6>  
 
<p>₹499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/Xtep.webp" alt="Card image cap" >
<div class="card-body">
  <h4>Xtep  </h4>
  <h6 class="card-title">For Men Shoes For Men and Women (Black) </h6>  
 
<p>₹499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/CAMPUS1.webp" alt="Card image cap" >
<div class="card-body">
  <h4>CAMPUS  </h4>
  <h6 class="card-title">ROYCE-2 Running Shoes For Men  (Black) </h6>  
 
<p>₹899<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/JQR.webp" alt="Card image cap" >
<div class="card-body">
  <h4>JQR  </h4>
  <h6 class="card-title">MAGIC Sports shoes, Running Shoes For Men   </h6>  
 
<p>₹979<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="banner">
  <img src="assets/shoes/banner2.jpg">
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/ADIDAS.webp" alt="Card image cap" >
<div class="card-body">
  <h4>ADIDAS  </h4>
  <h6 class="card-title">Adi-Shawt M Running Shoes For Men  (Black)   </h6>  
<p>₹2,349<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/ADIDAS1.webp" alt="Card image cap" >
<div class="card-body">
  <h4>ADIDAS  </h4>
  <h6 class="card-title">Fluo M Running Shoes For Men  (Grey)   </h6>  
<p>₹1,399<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/ADIDAS2.webp" alt="Card image cap" >
<div class="card-body">
  <h4>ADIDAS  </h4>
  <h6 class="card-title">Adi-Shawt M Running Shoes For Men  (Blue)   </h6>  
<p>₹2,199<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/PUMA.webp" alt="Card image cap" >
<div class="card-body">
  <h4>PUMA </h4>
  <h6 class="card-title">Flex Fire V1 Walking Shoes For Men  (Black)  </h6>  
<p>₹1,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/PUMA2.webp" alt="Card image cap" >
<div class="card-body">
  <h4>PUMA </h4>
  <h6 class="card-title">Bridge Comfort Running Shoes For Men  (White)  </h6>  
<p>₹1,613<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/PUMA3.webp" alt="Card image cap" >
<div class="card-body">
  <h4>PUMA </h4>
  <h6 class="card-title">Electron E Training & Gym Shoes For Men  (Red)  </h6>  
<p>₹2,032<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/PUMA4.webp" alt="Card image cap" >
<div class="card-body">
  <h4>PUMA </h4>
  <h6 class="card-title">Zod Runner V3 Running Shoes For Men  (White) </h6>  
<p>₹1,830<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/NIKE.webp" alt="Card image cap" >
<div class="card-body">
  <h4>NIKE  </h4>
  <h6 class="card-title">Revolution 6 Running Shoes For Men  (Blue) </h6>  
<p>₹2,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/NIKE1.webp" alt="Card image cap" >
<div class="card-body">
  <h4>NIKE  </h4>
  <h6 class="card-title">Court Royale 2 Next Nature Sneakers For Men  (Black)</h6>  
<p>₹3,995  <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/shoes/NIKE2.webp" alt="Card image cap" >
<div class="card-body">
  <h4>NIKE  </h4>
  <h6 class="card-title">Renew Ride 3 Running Shoes For Men  (Black)</h6>  
<p>₹4,999  <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>