
<div class="card">
    <img class="card-img-top" src="assets/HomeAppliances/mi-heator.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">MI star water proof copper blue 2000 W Heater</h4>
<ul>
<li>Power Consumption: 2000 W</li>
   <li>Heating Substances: water</li>
    <li>Heating Element Type: tubular copper</li>
   <li> Heater Material: tubular copper</li>
   <li>Height: 29 cm</li>
</ul>   
<p>₹499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  
<div class="card">
    <img class="card-img-top" src="assets/HomeAppliances/lg-try-coller.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">LG 7 kg 5 Star with Wind Jet Dry, Collar</h4>
<ul>
<li>Semi Automatic Top Load</li>
   <li> 1350 rpm : Higher the spin speed, lower the drying time</li>
   <li>5 Star Rating</li>
   <li>7 kg</li>
</ul>   
<p>₹11,490<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="assets/HomeAppliances/realme-washing.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">realme TechLife 8.5 kg 5 Star Washing Machine</h4>
<ul>
<li>Semi Automatic Top Load</li>
   <li>1400 RPM : Higher the spin speed, lower the drying time</li>
   <li> Number of wash programs - 3</li>
 <li>  5 Star Rating</li>
   <li> 8.5 kg</li>
</ul>   
<p>₹9,790<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/HomeAppliances/VacuumCleaner.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Onshoppy Portable 12V High Power Vacuum Cleaner</h4>
<ul>
<li>Hand-held Vacuum Cleaner</li>
</ul>   
<p>₹699<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/HomeAppliances/filter.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">AQUA Skyland Combo Model 18 Ltr Copper filter</h4>
        <ul>
            <li>Electrical & Storage : Electric purification </li>
               <li>15 L : More the capacity</li>
                <li>RO + UF + TDS</li>
            </ul>   
<p>₹3,891<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/HomeAppliances/Godrej-180.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Godrej 180 L Direct Cool Single Door </h4>
        <ul>
           <li>180 L : Good for couples and small families</li>
           <li>Fixed Speed Compressor</li>
           <li>4 Star : For Energy savings up to 45%</li>
           <li> Direct Cool : Economical, consumes less electricity</li>
            </ul>   
<p>₹14,840<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/HomeAppliances/Bajaj-water-heater.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">BAJAJ 25 L Storage Water Geyser</h4>
        <ul>
      <li>Storage Useful for Bathroom, can store heated water</li>
       <li> 25 L Greater the Capacit</li>
       <li>8 bar : Pressure rating >8 bar is suitable for High Rise buildings</li>
        <li>Vertical : Suitable for large wall spaces</li>
            </ul>   
<p>₹6,599<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/HomeAppliances/samsung-1.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG 236 L Frost Free Double Door</h4>
        <ul>
    <li>236 L : Good for families of 3-5 members</li>
      <li>Digital Inverter Compressor</li>
      <li>2 Star : For Energy savings up to 20%</li>
     <li>Frost Free : Auto fridge defrost to stop ice-build up</li>
            </ul>   
<p>₹22,791<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/HomeAppliances/ion.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Longway Kwid 1100 W Dry Iron  (Blue, White)</h4>
        <ul>
<li>Spray: No</li>
  <li>Soleplate Type: Teflon Coated Sole Plate</li>
            </ul>   
<p>₹349<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>