<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
 <div class="card">
    <img class="card-img-top" src="assets/headphones/noise.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">Noise Buds VS102 Bluetooth Headset</h4>  
     <h6>(Metallic Black Strap, Regular)</h6>
<p>₹999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/headphones/apple-airpets.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">Apple AirPods(2nd genration)</h4>  
     <h6> (White, True Wireless)</h6>
<p>₹9,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/headphones/1+.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">OnePlus  Wireless Z2 Bluetooth Heatset</h4>  
     <h6>(Magico Black, In the Ear)</h6>
<p>₹1,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/headphones/oppo.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">OPPO Enco Buds 2  Bluetooth Heatset</h4>  
     <h6>  (Midnight, True Wireless)</h6>
<p>₹1,699<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/headphones/apple-airpots-pro.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE AirPods Pro Bluetooth Heatset</h4>  
     <h6> (White, True Wireless)</h6>
<p>₹21,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/headphones/Boult Audio Curve Max.webp" alt="Card image cap" style="height: 44%;" >
    <div class="card-body">
      <h4 class="card-title">Boult Audio Curve Max Bluetooth Heatset</h4>  
     <h6> (Blue, In the Ear)</h6>
<p>₹1,299<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/headphones/Boult Audio Y1.webp" alt="Card image cap" style="height: 44%;" >
    <div class="card-body">
      <h4 class="card-title">Boult Audio Y1 with Zen ENC Mic Bluetooth Heatset</h4>  
     <h6> (Black, True Wireless) </h6>
<p>₹999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/headphones/boAt Airdopes 131.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">boAt Airdopes 131 Bluetooth Heatset</h4>  
     <h6> (Black, True Wireless) </h6>
<p>₹999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/headphones/boat.webp" alt="Card image cap" style="height: 44%;" >
    <div class="card-body"> 
      <h4 class="card-title">boAt Rockerz 255 Pro+ /258 Pro+  Bluetooth Heatset</h4>  
     <h6> (Active Black, In the Ear) </h6>
<p>₹1,299<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
 <div class="card">
    <img class="card-img-top" src="assets/headphones/OnePlus Nord Buds 2.webp" alt="Card image cap"  >
    <div class="card-body"> 
      <h4 class="card-title">OnePlus Nord Buds 2  Bluetooth Heatset</h4>  
     <h6>  (Thunder Gray, True Wireless)</h6>
<p>₹2,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="assets/headphones/realme-T100.webp" alt="Card image cap"  >
    <div class="card-body"> 
      <h4 class="card-title">realme Buds T100 Bluetooth Heatset</h4>  
     <h6> (Black, True Wireless)</h6>
<p>₹1,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="assets/headphones/realme Buds.webp" alt="Card image cap"  >
    <div class="card-body"> 
      <h4 class="card-title">realme Buds Wireless 3 Bluetooth Heatset</h4>  
     <h6> (Pure Black, In the Ear)</h6>
<p>₹1,699<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/headphones/boAt Airdopes 161.webp" alt="Card image cap"  >
    <div class="card-body"> 
      <h4 class="card-title">boAt Airdopes 161 Bluetooth Heatset</h4>  
     <h6> (Cool Sapphire, True Wireless)</h6>
<p>₹1,699<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="assets/headphones/realme Buds-1.webp" alt="Card image cap"  >
  <div class="card-body"> 
    <h4 class="card-title">realme Buds Wireless 2 Bluetooth Heatset</h4>  
   <h6> (Blue, In the Ear)</h6>
<p>₹1,299<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/headphones/OnePlus Bullets.webp" alt="Card image cap"  >
<div class="card-body"> 
  <h4 class="card-title">OnePlus Bullets Wireless Z2  Headset</h4>  
 <h6> (Acoustic Red, In the Ear)</h6>
<p>₹1,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/headphones/OnePlus Nord Buds 2r.webp" alt="Card image cap"  >
<div class="card-body"> 
  <h4 class="card-title">OnePlus Nord Buds 2r Bluetooth Headset</h4>  
 <h6>(Deep Grey, True Wireless)</h6>
<p>₹2,199<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  <a href="#" class="btn btn-primary">Add to Card</a>
</div>
</div>