<div class="card">
    <img class="card-img-top" src="assets/realme/realme-11x.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">realme 11x 5G (Purple Dawn, 128 GB) </h4>
<ul>
<li>6 GB RAM | 128 GB ROM | Expandable Upto 2 TB</li>
   <li> 17.07 cm (6.72 inch) Full HD+ Display</li>
    <li>64MP + 2MP | 8MP Front Camera</li>
    <li>5000 mAh Battery</li>
    <li>Dimensity 6100+ Processor</li>
</ul>   
<p> ₹14,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/realme/realme-c53.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">realme C53 (Champion Gold, 128 GB)  </h4>
<ul>
<li>4 GB RAM | 128 GB ROM | Expandable Upto 2 TB</li>
   <li>17.12 cm (6.74 inch) HD Display</li>
    <li>108MP + 2MP | 8MP Front Camera</li>
    <li>5000 mAh Battery</li>
   <li>T612 Processor</li>
</ul>   
<p>₹9,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/realme/realme-11pro+.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">realme 11 Pro+ 5G (Oasis Green, 256 GB)   </h4>
<ul>
<li>8 GB RAM | 256 GB ROM</li>
    <li>17.02 cm (6.7 inch) Full HD+ Display</li>
    <li>200MP (OIS) + 8MP + 2MP | 32MP Front Camera</li>
   <li>5000 mAh Battery</li>
    <li>Dimensity 7050 Processor</li>
</ul>   
<p>₹25,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/realme/realme-11.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">realme 11 5G (Glory Gold, 128 GB)</h4>
<ul>
   <li> 8 GB RAM | 128 GB ROM | Expandable Upto 2 TB</li>
   <li>17.07 cm (6.72 inch) Full HD+ Display</li>
    <li>108MP + 2MP | 16MP Front Camera</li>
    <li>5000 mAh Battery</li>
   <li>Dimensity 6100+ Processor</li>
</ul>   
<p>₹16,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/realme/realme-11pro.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">realme 11 Pro 5G (Astral Black, 256 GB)  </h4>
<ul>
  <li> 12 GB RAM | 256 GB ROM</li>
   <li> 17.02 cm (6.7 inch) Full HD+ Display</li>
   <li>100MP (OIS) + 2MP | 16MP Front Camera</li>
    <li>5000 mAh Battery</li>
    <li>Dimensity 7050 Processor</li>
</ul>   
<p>₹27,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/realme/realme-gt-neo3t.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">realme GT Neo 3T (Dash Yellow, 128 GB) </h4>
<ul>
 <li>6 GB RAM | 128 GB ROM</li>
    <li>16.81 cm (6.62 inch) Full HD+ AMOLED Display</li>
    <li>64MP + 8MP + 2MP | 16MP Front Camera</li>
    <li>5000 mAh Lithium Ion Battery</li>
    <li>Qualcomm Snapdragon 870 Processor</li>
</ul>   
<p>₹29,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/realme/realme-x7pro.webp" alt="Card image cap" style="width: 170px;">
    <div class="card-body">
      <h4 class="card-title">realme X7 Pro 5G (Mystic Black, 128 GB) </h4>
<ul>
<li>8 GB RAM | 128 GB ROM</li>
<li>16.64 cm (6.55 inch) Full HD+ Display</li>
<li>64MP + 8MP + 2MP + 2MP | 32MP Front Camera</li>
<li>4500 mAh Battery</li>
<li>MediaTek Dimensity 1000 Plus Processor</li>
<li>120 Hz sAmoled Display|65W SuperDart Charging</li>
</ul>   
<p>₹29,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

   <div class="card">
    <img class="card-img-top" src="assets/realme/realme-narzo60x.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">realme Narzo 60x 5G (Stellar Green, 128 GB) </h4>
<ul>
<li>4 GB RAM | 128 GB ROM</li>
<li>17.07 cm (6.72 inch) Display</li>
<li>50MP Rear Camera</li>
<li>5000 mAh Battery</li>
</ul>   
<p>₹13,228<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

     <div class="card">
    <img class="card-img-top" src="assets/realme/realme-narzo60.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">realme Narzo 60 5G (?Cosmic Black, 128 GB) </h4>
<ul>
<li>8 GB RAM | 128 GB ROM</li>
<li>16.33 cm (6.43 inch) Display</li>
<li>64MP Rear Camera</li>
<li>5000 mAh Battery</li>
</ul>   
<p>₹17,749<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
