<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div class="card">
    <img class="card-img-top" src="assets/redmi/redmi-12.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">REDMI 12 5G (Moonstone Silver, 128 GB) </h4>
<ul>
<li>6 GB RAM | 128 GB ROM</li>
    <li>17.25 cm (6.79 inch) Display</li>
    <li>50MP Rear Camera</li>
    <li>5000 mAh Battery</li>
</ul>   
<p>₹13,500 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/redmi/redmi-12pro.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">REDMI Note 12 Pro+ 5G (Obsidian Black, 256 GB)</h4>
<ul>
<li>8 GB RAM | 256 GB ROM</li>
    <li>16.94 cm (6.67 inch) Full HD+ AMOLED Display</li>
   <li>200MP + 8MP + 2MP | 16MP Front Camera</li>
    <li>4980 mAh Lithium Polymer Battery</li>
   <li> Mediatek Dimensity 1080 Processor</li>
</ul>   
<p>₹27,999 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div> 

  <div class="card">
    <img class="card-img-top" src="assets/redmi/redmi-11.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">REDMI 11 Prime (Playful Green, 128 GB) </h4>
<ul>
<li>6 GB RAM | 128 GB ROM | Expandable Upto 512 GB</li>
    <li>16.71 cm (6.58 inch) Full HD+ Display</li>
    <li>50MP + 2MP + 2MP | 8MP Front Camera</li>
    <li>5000 mAh Battery</li>
    <li>Helio G99 Processor</li>
</ul>   
<p>₹10,249 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div> 

  <div class="card">
    <img class="card-img-top" src="assets/redmi/redmi-note10pro.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">REDMI Note 10 Pro Max (Dark Night, 128 GB) </h4>
<ul>
<li>6 GB RAM | 128 GB ROM | Expandable Upto 512 GB</li>
   <li> 16.94 cm (6.67 inch) Full HD+ Display</li>
    <li>108MP Rear Camera | 16MP Front Camera</li>
    <li>5020 mAh Battery</li>
    <li>Qualcomm Snapdragon 732G Processor</li>
</ul>   
<p>₹18,400 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div> 

  <div class="card">
    <img class="card-img-top" src="assets/redmi/redmi-note11s.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">REDMI Note 11S (Horizon Blue, 128 GB) </h4>
<ul>
<li>8 GB RAM | 128 GB ROM</li>
    <li>16.33 cm (6.43 inch) Display</li>
    <li>108MP Rear Camera</li>
   <li>5000 mAh Battery</li>
</ul>   
<p>₹15,890<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div> 

  <div class="card">
    <img class="card-img-top" src="assets/redmi/redmi-note9pro.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">REDMI Note 9 Pro Max (Interstellar Black, 64 GB) </h4>
<ul>
<li>6 GB RAM | 64 GB ROM | Expandable Upto 512 GB</li>
   <li> 16.94 cm (6.67 inch) Full HD+ Display</li>
   <li>64MP + 8MP + 5MP + 2MP | 32MP Front Camera</li>
   <li>5020 mAh Lithium Polymer Battery</li>
   <li> Qualcomm Snapdragon 720G Processor</li>
</ul>   
<p>₹14,996<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div> 

  
  <div class="card">
    <img class="card-img-top" src="assets/redmi/redmi-note11pro.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Redmi Note 11 PRO Plus 5G (PHANTOM WHITE, 256 GB) </h4>
<ul>
<li>8 GB RAM | 256 GB ROM</li>
<li>16.94 cm (6.67 inch) Display</li>
<li>108MP Rear Camera</li>
<li>5000 mAh Battery</li>
</ul>   
<p>₹28,998<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div> 