<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div class="card">
    <img class="card-img-top" src="assets/poco/poco-c51.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">POCO C51 (Royal Blue, 64 GB)  </h4>
<ul>
<li>4 GB RAM | 64 GB ROM | Expandable Upto 1 TB</li>
    <li>16.56 cm (6.52 inch) HD+ Display</li>
    <li>8MP Dual Rear Camera | 5MP Front Camera</li>
    <li>5000 mAh Battery</li>
   <li>Helio G36 Processor</li>
</ul>   
<p>₹5,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  
<div class="card">
  <img class="card-img-top" src="assets/poco/poco-c55.webp" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">POCO C55 (Forest Green, 64 GB)  </h4>
<ul>
<li>4 GB RAM | 64 GB ROM | Expandable Upto 1 TB</li>
  <li>17.04 cm (6.71 inch) HD+ Display</li>
  <li>50MP Dual Rear Camera | 5MP Front Camera</li>
  <li>5000 mAh Battery</li>
  <li>Mediatek Helio G85 Processor </li> 
</ul>   
<p>₹6,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
</div>

  
<div class="card">
  <img class="card-img-top" src="assets/poco/poco-c55-1.webp" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">POCO C55 (Cool Blue, 128 GB)  </h4>
<ul>
<li>6 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
  <li>17.04 cm (6.71 inch) HD+ Display</li>
  <li>50MP Dual Rear Camera | 5MP Front Camera</li>
  <li>5000 mAh Battery</li>
  <li>Mediatek Helio G85 Processor </li> 
</ul>   
<p>₹7,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
</div>

  
<div class="card">
  <img class="card-img-top" src="assets/poco/poco-m6-pro.webp" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">POCO M6 Pro 5G (Power Black, 128 GB)  </h4>
<ul>
<li>6 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
  <li>17.25 cm (6.79 inch) Full HD+ Display</li>
 <li>50MP + 2MP | 8MP Front Camera</li>
  <li>5000 mAh Battery</li>
  <li>Snapdragon 4 Gen 2 Processor</li>
</ul>   
<p>₹11,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="assets/poco/poco-x5.webp" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">POCO X5 Pro 5G (Horizon Blue, 128 GB)  </h4>
<ul>
<li>6 GB RAM | 128 GB ROM</li>
<li>16.94 cm (6.67 inch) Full HD+ Display</li>
  <li>108MP + 8MP + 2MP | 16MP Front Camera</li>
 <li>5000 mAh Battery</li>
  <li>Qualcomm Snapdragon 778G Processor</li>
</ul>   
<p>₹17,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="assets/poco/poco-x5-1.webp" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">POCO X5 5G (Jaguar Black, 256 GB)  </h4>
<ul>
<li> 8 GB RAM | 256 GB ROM | Expandable Upto 1 TB</li> 
 <li> 16.94 cm (6.67 inch) Full HD+ Display</li> 
  <li>48MP + 8MP + 2MP | 13MP Front Camera</li> 
 <li> 5000 mAh Battery</li> 
 <li> Qualcomm Snapdragon 695 Processor</li> 
</ul>   
<p>₹14,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
</div>

  
