<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div class="card">
    <img class="card-img-top" src="assets/ipad/ipad-10.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE iPad (10th Gen) 64 GB ROM Wi-Fi Only(Silver) </h4>
<ul>
<li>64 GB ROM</li>
   <li> 27.69 cm (10.9 inch) Full HD Display</li>
    <li>12 MP Primary Camera | 12 MP Front</li>
    <li>iPadOS 16 | Battery: Lithium Polymer</li>
    <li>Ideal Usage: Entertainment, For Kids, Reading and Browsing</li>
    <li>Processor: A14 Bionic Chip (64-bit Architecture) with Neural Engine</li>
</ul>   
<p>₹38,900<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/ipad/ipad-9.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE iPad (9th Gen) 64 GB ROM Wi-Fi Only(Space Grey) </h4>
<ul>
<li>64 GB ROM</li>
    <li>25.91 cm (10.2 inch) Display</li>
  <li> 8 MP Primary Camera | 12 MP Front</li>
    <li>iOS 15 | Battery: Lithium Polymer</li>
    <li>Ideal Usage: Entertainment, For Kids, Reading and Browsing</li>
  <li>  Processor: A13 Bionic Chip with 64-bit Architecture</li>
</ul>   
<p>₹30,900<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/ipad/ipad-5.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE iPad Air (5th gen) 256 GB ROM  Wi-Fi Only( Grey) </h4>
<ul>
<li>256 GB ROM</li>
 <li>  27.69 cm (10.9 Inch) Display</li>
    <li>12 MP Primary Camera | 12 MP Front</li>
   <li> iPadOS 15 | Battery: Lithium Polymer</li>
    <li>Ideal Usage: Business, Reading and Browsing</li>
   <li> Processor: Apple M1 Chip</li>
</ul>   
<p>₹72,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/ipad/ipad-3.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE iPad Pro 2021 (3rd Generation)  Wi-Fi Only(Silver) </h4>
<ul>
<li>16 GB RAM | 2 TB ROM</li>
   <li> 27.94 cm (11 inches) Quad HD Display</li>
    <li>12 MP Primary Camera | 12 MP Front</li>
   <li> iPadOS 14 | Battery: Lithium Polymer</li>
    <li>Ideal Usage: Entertainment, High Processing Tasks</li>
</ul>   
<p>₹1,65,756<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/ipad/ipad-6.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE iPad mini (6th Gen) 256 GB ROM Wi-Fi Only(Purple) </h4>
<ul>
<li>256 GB ROM</li>
   <li>21.08 cm (8.3 inch) Display</li>
    <li>12 MP Primary Camera | 12 MP Front</li>
   <li>iOS 15 | Battery: Lithium Polymer</li>
    <li>Ideal Usage: Entertainment, For Kids, Reading and Browsing</li>
    <li>Processor: A15 Bionic Chip with 64-bit Architecture</li>
</ul>   
<p>₹62,947<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/ipad/ipad-10-1.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE iPad (10th Gen) 64 GB ROM Wi-Fi Only(Pink) </h4>
<ul>
<li>64 GB ROM</li>
<li>27.69 cm (10.9 inch) Full HD Display</li>
   <li> 12 MP Primary Camera | 12 MP Front</li>
   <li> iPadOS 16 | Battery: Lithium Polymer</li>
    <li>Ideal Usage: Entertainment, For Kids, Reading and Browsing</li>
   <li> Processor: A14 Bionic Chip (64-bit Architecture) with Neural Engine</li>

</ul>   
<p>₹54,900 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/ipad/ipad-4.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE iPad Air (4th Gen) 64 GB ROM Wi-Fi Only(Gray) </h4>
<ul>
<li>64 GB ROM</li>
  <li> 27.69 cm (10.9 inch) Full HD Display</li>
    <li>12 MP Primary Camera | 7 MP Front</li>
    <li>iPadOS 14 | Battery: Lithium Polymer</li>
   <li>Ideal Usage: Entertainment, High Processing Tasks</li>
    <li>Processor: A14 Bionic Chip (64-bit Architecture) with Neural Engine</li>

</ul>   
<p>₹64,886 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
