<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
 <div class="producet">
    <img class="card-img-top" src="assets/smart-tv/realme-smarttv-4k-1.webp" alt="Card image cap" id="tv" [routerLink]="['/smart-tv']" >
   <a [routerLink]="['/smart-tv']">SmartTv</a> 
   <img src="assets/Appliances-banner/banner-1.jpeg" id="home-appliances"  [routerLink]="['/home-appliances']">
   <a [routerLink]="['/home-appliances']">Home Appliances</a>  
   <a [routerLink]="['/home-appliances']">Washing Machine</a> 
   <img class="card-img-top" src="assets/HomeAppliances/realme-washing.webp" alt="Card image cap" id="Washing"  [routerLink]="['/home-appliances']">

</div>
<div class="banner">
    <img src="assets/Appliances-banner/banner-1.jpeg">
</div>
<div class="item" [routerLink]="['/smart-tv']">
    <img class="card-img-top" src="assets/smart-tv/realme108cm.webp" alt="Card image cap" >
    <h5>Realme LED Smart Tv</h5>
    <h4>₹19,499</h4>
</div>
<div class="item" [routerLink]="['/home-appliances']">
    <img class="card-img-top" src="assets/HomeAppliances/samsung-1.webp" alt="Card image cap" style="width: 30%;height: 70%;margin-left:90px;">
    <h5>SAMSUNG 236 L Frost Free Double Door</h5>
    <h4>₹22,791</h4>
</div>
<div class="item" [routerLink]="['/smart-tv']">
    <img class="card-img-top" src="assets/smart-tv/samsung-80cm.webp" alt="Card image cap" >
    <h5>SAMSUNG  HD  LED Tv</h5>
    <h4>₹15,499</h4>
</div>
<div class="item" [routerLink]="['/home-appliances']">
    <img class="card-img-top" src="assets/HomeAppliances/Bajaj-water-heater.webp" alt="Card image cap" style="height: 80%;width: 40%;margin-left: 90px;">
    <h5>BAJAJ 25 L Storage Water Geyser</h5>
    <h4>₹6,599</h4>
</div>

<div class="banner">
    <img src="assets/Appliances-banner/banner-2.jpeg">
</div>
<div class="item" [routerLink]="['/home-appliances']">
    <img class="card-img-top" src="assets/HomeAppliances/ion.webp" alt="Card image cap">
    <h5>Longway Kwid 1100 W Dry Iron  (Blue, White)</h5>
    <h4>₹349</h4>
</div>
<div class="item" [routerLink]="['/home-appliances']">
    <img class="card-img-top" src="assets/HomeAppliances/samsung-1.webp" alt="Card image cap" style="height: 90%;width: 30%;">
    <h5>SAMSUNG 236 L Frost Free Double Door</h5>
    <h4>₹22,791</h4>
</div>
<div class="item" [routerLink]="['/home-appliances']">
    <img class="card-img-top" src="assets/HomeAppliances/filter.webp" alt="Card image cap">
    <h5>AQUA Skyland Combo Model 18 Ltr Copper filter</h5>
    <h4>₹3,891</h4>
</div>
<div class="item" [routerLink]="['/home-appliances']">
    <img class="card-img-top" src="assets/HomeAppliances/realme-washing.webp" alt="Card image cap">
    <h5>realme TechLife 8.5 kg 5 Star Washing Machine</h5>
    <h4>₹9,790</h4>
</div>
<div class="item" [routerLink]="['/smart-tv']">
    <img class="card-img-top" src="assets/smart-tv/mi-smart-4k.webp" alt="Card image cap" >
    <h5>Mi X Pro 108 cm (43 inch) Ultra HD (4K) LED </h5>
    <h4>₹32,999</h4>
</div>
<div class="item" [routerLink]="['/home-appliances']">
    <img class="card-img-top" src="assets/HomeAppliances/lg-try-coller.webp" alt="Card image cap">
    <h5>LG 7 kg 5 Star with Wind Jet Dry, Collar</h5>
    <h4>₹11,490</h4>
</div>

<div class="item" [routerLink]="['/smart-tv']">
    <img class="card-img-top" src="assets/smart-tv/realme-smarttv-4k-1.webp" alt="Card image cap" >
    <h5>realme 126 cm (50 inch) Ultra HD (4K) LED Tv</h5>
    <h4>₹27,999</h4>
</div>
<div class="item" [routerLink]="['/smart-tv']">
    <img class="card-img-top" src="assets/smart-tv/lg-smarttv.webp" alt="Card image cap" >
    <h5>LG 80 cm (32 inch) HD Ready LED Smart WebOS TV</h5>
    <h4>₹13,499</h4>
</div>