<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
 <h3>Moblie Phones</h3>
<p>Mobile phones are no more merely a part of our lives. Whether it's to stay connected with friends and family or to keep abreast of important developments around the world, mobiles are no longer for sending a text or making a call. From budget to state-of-the-art smartphones; indigenous names to global big-wigs - a whole universe of mobiles await you on Flipkart. Whether you’re looking for waterdrop notch screens, a high screen to body ratio, AI-powered sensational cameras, high storage capacity, blazing quick processing engines or reflective glass designs, rest assured you won’t have to venture anywhere else for your smartphone needs</p>
<h5 [routerLink]="['/iphone']" routerLinkActive="active">iphone Series  | </h5>
<h5 [routerLink]="['/galaxy']" routerLinkActive="active">   |  Samsung Galaxy  |</h5>
<h5 [routerLink]="['/redmi']" routerLinkActive="active">   |  Redmi Series |</h5>
<h5 [routerLink]="['/poco']" routerLinkActive="active">   |  Poco  Series |</h5>
<h5 [routerLink]="['/realme']" routerLinkActive="active">   |  realme  Series |</h5>
<h5 [routerLink]="['/oppo']" routerLinkActive="active">   |  Oppo   Series|</h5>
<h5 [routerLink]="['/vivo']" routerLinkActive="active">   |  Vivo  Series </h5>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="assets/all-moblie/banner1.jpg" alt="Carousel_Image1" style="width:100%;height: 200px;">
    </div>

    <div class="carousel-item ">
      <img src="assets/homemoblie/1.jpg" alt="Carousel_Image2" style="width:100%;">
    </div>
  
    <div class="carousel-item ">
      <img src="assets/homemoblie/3.jpg" alt="Carousel_Image3" style="width:100%;">
    </div>

    <div class="carousel-item ">
      <img src="assets/homemoblie/4.webp" alt="Carousel_Image4" style="width:100%;">
    </div>

    <div class="carousel-item ">
      <img src="assets/homemoblie/5.webp" alt="Carousel_Image5" style="width:100%;">
    </div>

  </div>
</div>
<div class="banner" [routerLink]="['/realme']">
    <img src="assets/all-moblie/1.webp" >
</div>
<div class="banner" [routerLink]="['/oppo']">
    <img src="assets/all-moblie/2.webp" >
</div>
<div class="banner" [routerLink]="['/iphone']">
    <img src="assets/all-moblie/banner2.jpg" >
</div>
</body>
</html>