<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="assets/today-deals/banner1.jpg" alt="Carousel_Image1" style="width:100%;height: 400px;">
    </div>
<div class="carousel-item ">
    <img src="assets/today-deals/banner2.jpg" alt="Carousel_Image1" style="width:100%;height: 400px;">
  </div>

  <div class="carousel-item ">
    <img src="assets/today-deals/banner3.jpg" alt="Carousel_Image1" style="width:100%;height: 350px;">
  </div>

  <div class="carousel-item ">
    <img src="assets/all-electronics/banner4.avif" alt="Carousel_Image1" style="width:100%;height: 350px;">
  </div>

  <div class="carousel-item ">
    <img src="assets/all-electronics/banner5.avif" alt="Carousel_Image1" style="width:100%;height: 350px;">
  </div>

</div>
