<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div class="card">
    <img class="card-img-top" src="assets/macbook/macbook Air 1.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE 2020 Macbook Air Apple M1(8GB/256GB SSD)</h4>
        
<ul>
  <li>Apple M1 Processor</li>
  <li>8 GB DDR4 RAM</li>
  <li>Mac OS Operating System</li>
  <li>256 GB SSD</li>
  <li>13.3 inch Quad LED Backlit IPS Display</li>
</ul>   
<p>₹83,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/macbook/macbook Air m2.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE 2022 MacBook Pro Apple M2(8GB/256GB SSD)</h4>
        
<ul>
  <li>Apple M2 Processor</li>
  <li>8 GB Unifiled Memory RAM</li>
  <li>Mac OS Operating System</li>
  <li>256 GB SSD</li>
  <li>13.3 inch Quad LED Backlit IPS Display</li>
</ul>   
<p>₹1,02,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/macbook/macbook Air m2-2.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">APPLE 2022 MacBook Pro Apple M2(8GB/256GB SSD)</h4>
        
<ul>
  <li>Apple M2 Processor</li>
  <li>8 GB Unifiled Memory RAM</li>
  <li>Mac OS Operating System</li>
  <li>256 GB SSD</li>
  <li>13.6 inch Quad LED Backlit IPS Display</li>
</ul>   
<p>₹1,04,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/macbook/macbook Air m2-3.webp" alt="Card image cap"  >
    <div class="card-body">
      <h4 class="card-title">APPLE 2023 MacBook Pro Apple M2(8GB/256GB SSD)</h4>
        
<ul>
  <li>Apple M2 Processor</li>
  <li>8 GB Unifiled Memory RAM</li>
  <li>Mac OS Operating System</li>
  <li>256 GB SSD</li>
  <li>13.6 inch Quad LED Backlit IPS Display</li>
</ul>   
<p>₹1,26,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/macbook/macbook Air 1-pro.webp" alt="Card image cap"  >
    <div class="card-body">
      <h4 class="card-title">APPLE  Macbook Pro Apple M1 Max(32GB/1TB SSD)</h4>
        
<ul>
  <li>Apple M1 Max Processor</li>
  <li>32 GB Unifiled Memory RAM</li>
  <li>Mac OS Operating System</li>
  <li>1 TB SSD</li>
  <li>16.2 inch Quad LED Backlit IPS Display</li>
</ul>   
<p>₹3,09,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/macbook/macbook  m3-pro.webp" alt="Card image cap"  >
    <div class="card-body">
      <h4 class="card-title">APPLE 2023 MacBook Apple M3 Pro (18GB/512GB SSD)</h4>
        
<ul>
  <li>Apple M1 Max Processor</li>
  <li>18 GB Unifiled Memory RAM</li>
  <li>Mac OS Operating System</li>
  <li>512 GB SSD</li>
  <li>14 inch Quad LED Backlit IPS Display</li>
</ul>   
<p>₹1,99,900<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/macbook/macbook  m2-pro.webp" alt="Card image cap"  >
    <div class="card-body">
      <h4 class="card-title">APPLE 2023 MacBook Apple M2 Max(32GB/1TB SSD)</h4>
        
<ul>
  <li>Apple M2 Max Processor</li>
  <li>32 GB Unifiled Memory RAM</li>
  <li>Mac OS Operating System</li>
  <li>1  SSD</li>
  <li>15.3 inch Quad LED Backlit IPS Display</li>
</ul>   
<p>₹2,90,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>    
  <div class="card">
    <img class="card-img-top" src="assets/macbook/macbook  m3-pro-max.webp" alt="Card image cap"  >
    <div class="card-body">
      <h4 class="card-title">APPLE 2023 MacBook Apple M3 Max(32GB/1TB SSD)</h4>
        
<ul>
  <li>Apple M3 Max Processor</li>
  <li>32 GB Unifiled Memory RAM</li>
  <li>Mac OS Operating System</li>
  <li>1 TB SSD</li>
  <li>15.3 inch Quad LED Backlit IPS Display</li>
</ul>   
<p>₹3,19,900<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>   
  <div class="card">
    <img class="card-img-top" src="assets/macbook/macbook  m1-pro.webp" alt="Card image cap"  >
    <div class="card-body">
      <h4 class="card-title">APPLE 2021 Macbook Pro Apple M1 Pro(16GB/1TB SSD)</h4>
        
<ul>
  <li>Apple M1 Pro Processor</li>
  <li>16 GB Unifiled Memory RAM</li>
  <li>Mac OS Operating System</li>
  <li>1 TB SSD</li>
  <li>16.2 inch Quad LED Backlit IPS Display</li>
</ul>   
<p>₹3,19,900<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>   