
<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>

    <div class="card">
        <img class="card-img-top" src="assets/iphone/iphone-15-pro-max" alt="Card image cap">
        <div class="card-body">
          <div class="menu">
          <h4 class="card-title">iPhone15 pro max</h4>
  <ul>
    <li>256 GB ROM</li>
<li>17.02 cm (6.7 inch) Super Retina XDR Display</li>
<li>48MP + 12MP + 12MP | 12MP Front Camera</li>
<li>A17 Pro Chip, 6 Core Processor Processor</li>
  </ul>
          <p class="card-text">₹1,49999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
     </div>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="assets/iphone/iphone-14-pro-max.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">iPhone14 pro max</h4>
         <ul>
         <li> 256 GB ROM</li>
<li>17.02 cm (6.7 inch) Super Retina XDR Display</li>
<li>48MP + 12MP + 12MP | 12MP Front Camera</li>
<li>A17 Pro Chip, 6 Core Processor Processor</li>
         </ul>
         <p>₹1,56,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/iphone/iphone-13-pro-max.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">iPhome13 pro max</h4>
        <ul>
          <li>512 GB ROM</li>
            <li>17.02 cm (6.7 inch) Super Retina XDR Display</li>
            <li>12MP + 12MP + 12MP | 12MP Front Camera</li>
           <li> A15 Bionic Chip Processor</li>
        </ul>
        <p>₹1,59,900<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/iphone/iphone-12-pro-max.webp"alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">iPhone12 pro max</h4>
        <ul>
          <li>256 GB ROM</li>
            <li>17.02 cm (6.7 inch) Super Retina XDR Display</li>
           <li> 12MP + 12MP + 12MP | 12MP Front Camera</li>
           <li> A14 Bionic Chip with Next Generation Neural Engine Processor</li>
            <li>Ceramic Shield | Industry-leading IP68 Water Resistance</li>
           <li> All Screen OLED Display</li>
        </ul>
        <P>₹1,29,900<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></P>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/iphone/iphone-11-pro-max.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">iPhome11 pro max</h4>
          <ul>
            <li>256 GB ROM</li>
              <li>16.51 cm (6.5 inch) Super Retina XDR Display</li>
             <li> 12MP + 12MP + 12MP | 12MP Front Camera</li>
              <li>A13 Bionic Chip Processor</li>
          </ul>
          <p class="card-text">₹1,01,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/iphone/iphone-15.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">iPhone 15</h4>
  <ul>
  <li>  256 GB ROM</li>
<li>15.49 cm (6.1 inch) Super Retina XDR Display</li>
<li>48MP + 12MP | 12MP Front Camera</li>
<li>A16 Bionic Chip, 6 Core Processor Processor</li>
  </ul>
  <p>₹86,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/iphone/iphone-14.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">iPhone14</h4>
      <ul>
        <li>256 GB ROM</li>
         <li>15.49 cm (6.1 inch) Super Retina XDR Display</li>
         <li> 12MP + 12MP | 12MP Front Camera</li>
         <li> A15 Bionic Chip, 6 Core Processor Processor</li>
      </ul>
      <p>₹68,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/iphone/iphone-13.webp" alt="Card image cap">
        <div class="card-body">
          <h4>iPhone13</h4>
       <ul>
       <li> 128 GB ROM</li>
           <li> 15.49 cm (6.1 inch) Super Retina XDR Display</li>           12MP + 12MP | 12MP Front Camera
<li>A15 Bionic Chip Processor</li>
       </ul>
       <p>₹59,900<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span> </p>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/iphone/iphone-12.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">iPhone12</h4>
    <ul>
      <li>128 GB ROM</li>
       <li> 15.49 cm (6.1 inch) Super Retina XDR Display</li>
       <li> 12MP + 12MP | 12MP Front Camera</li>
       <li> A14 Bionic Chip with Next Generation Neural Engine Processor</li>
       <li> Ceramic Shield</li>
    </ul>
    <p>₹48,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/iphone/iphone-11.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">iPhome11 </h4>
         <ul>
          <li>128 GB ROM</li>
           <li> 15.49 cm (6.1 inch) Liquid Retina HD Display</li>
           <li> 12MP + 12MP | 12MP Front Camera</li>
            <li>A13 Bionic Chip Processor</li>
         </ul>
         <p>₹48,900 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
      </div>
      
