
<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div><div class="card">
    <img class="card-img-top" src="assets/laptop/HP-N4500.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">HP Intel Celeron Dual Core N4500 </h4>
<ul>
   <li>15.6 Inch HD, micro-edge, anti-glare</li>
    <li>Brightness- 250 nits, Color Gamut- 45% NTSC
        <li> Screen to body ratio- 80.49%</li>
    <li>Light Laptop without Optical Disk Drive</li>
</ul>   
<p>₹20,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/laptop/Lenovo-12450H.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">Lenovo LOQ Intel Core i5 12th Gen 12450H  </h4>
<ul>
 <li>15.6 inch Full HD IPS 350nits Anti-glare</li>
    <li>45% NTSC, 144Hz, G-SYNC</li>
   <li> Light Laptop without Optical Disk Drive</li>
  <li> Preloaded with MS Office</li>
</ul>   
<p>₹66,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/laptop/Asus-vivobook.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">ASUS Vivobook 15 Intel Core i3 11th Gen 1115G4   </h4>
<ul>
<li>Stylish & Portable Thin and Light Laptop</li>
   <li> 15.6 Inch Full HD anti-glare</li> 
   <li>Brightness: 200 nits, Color Gamut: 45% NTSC</li>
    <li>Finger Print Sensor for Faster System Access</li>
  <li>Light Laptop without Optical Disk Drive</li>
</ul>   
<p>₹29,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/laptop/Dell-1215U.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">DELL Intel Core i3 12th Gen 1215U  </h4>
<ul>
<li>Stylish & Portable Thin and Light Laptop</li>
  <li>38 cm Full HD WVA AG 120Hz 250 nits Narrow Border</li>
   <li> Light Laptop without Optical Disk Drive</li>
</ul>   
<p>₹36,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/laptop/Asus-1215U.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">ASUS Vivobook Intel Core i3 12th Gen 1215U   </h4>
<ul>
<li>Preloaded with MS Office</li>
   <li>Light Laptop without Optical Disk Drive</li>
   <li>Screen-to-Body Ratio: 84%</li>
</ul>   
<p>₹36,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/laptop/Galaxy-Book3.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy Book3 Intel Core i5 13th Gen 1335U</h4>
<ul>
<li>Stylish & Portable Thin and Light Laptop</li>
  <li>  15.6 Inch Full HD LED Display, Anti-Glare</li>
   <li>Finger Print Sensor for Faster System Access</li>
   <li>Light Laptop without Optical Disk Drive</li>
</ul>   
<p>₹64,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/laptop/HP-3050U.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">HP 2023 AMD Athlon Dual Core 3050U</h4>
<ul>
<li>Stylish & Portable Thin and Light Laptop</li>
   <li> 15.6 Inch HD, micro-edge, BrightView</li> 
   <li>Brightness: 250 nits, 101 ppi, Color Gamut: 45%NTSC</li>
   <li> Light Laptop without Optical Disk Drive</li>
</ul>   
<p>₹29,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/laptop/Galaxy-Book2.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy Book 2 Intel Core i5 12th Gen 1235U </h4>
<ul>
<li>Stylish & Portable Thin and Light Laptop</li>
   <li> 15.6 Inch Full HD LED Display, Anti-Glare</li>
   <li>Light Laptop without Optical Disk Drive</li>
</ul>   
<p>₹44,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/laptop/Asus-vivobook-15.webp" alt="Card image cap" >
    <div class="card-body">
      <h4 class="card-title">ASUS Vivobook 15 Intel Core i3 12th Gen i3-1220P</h4>
<ul>
    <li>Stylish & Portable Thin and Light Laptop</li>
<li>Finger Print Sensor for Faster System Access</li>
   <li>Light Laptop without Optical Disk Drive</li>
   <li>15.6 inch (39.62cm)15.6-inch</li>
</ul>   
<p>₹40,031<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>