<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div class="card">
    <img class="card-img-top" src="assets/toys/Nerf Alpha.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">Nerf Alpha Strike Mantis LR-1 Toy </h6>  
  <p>₹1,124 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/toys/Avengers.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">SSJMart Avengers Hero Action Figure of 5 Super Heroes</h6>  
  <p>₹199 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/toys/Manual Shot.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">Kiddie Castle Manual Shot Gun With 10 Soft Bullets </h6>  
  <p>₹299 <img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/toys/VikriDa Electric.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">VikriDa Electric Gel Blaster Gun </h6>  
  <p>₹1,709<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/toys/Akvanar Paw.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">Akvanar Paw Patrol Vehicle Set Of 6 Dog Figures For Kids </h6>  
  <p>₹399<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>
  <div class="banner">
    <img src="assets/toys/banner.avif">
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/toys/Naruto.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">khilona waala Naruto Action For Kids </h6>  
  <p>₹699<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/toys/Spinner.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">PREMSONS Fidget Spinner For Children </h6>  
  <p>₹199<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/toys/Iron Man.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">TINY TREASURES Big Size Iron Man For Children </h6>  
  <p>₹299<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/toys/Little Pony.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">MARHABA TRADERS My Little Pony Toy 12 Pony </h6>  
  <p>₹599<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/toys/Venom.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">KIDDILY Marvel Venom Avengers Hero </h6>  
  <p>₹299<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    <a href="#" class="btn btn-primary">Add to Card</a>
  </div>
  </div>