<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-f14.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)</h4>
<ul>
   <li> 6 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
   <li> 16.76 cm (6.6 inch) Full HD+ Display</li>
   <li> 50MP + 2MP | 13MP Front Camera</li>
   <li> 6000 mAh Battery</li>
    <li>Exynos 1330, Octa Core Processor</li>
</ul>
<p>₹12,490<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-f14-1.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy F14 5G (B.A.E. Purple, 128 GB)</h4>
<ul>
   <li> 6 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
   <li> 16.76 cm (6.6 inch) Full HD+ Display</li>
   <li> 50MP + 2MP | 13MP Front Camera</li>
   <li> 6000 mAh Battery</li>
    <li>Exynos 1330, Octa Core Processor</li>
</ul>
<p>₹12,490<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  
  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-f34.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy F34 5G (Orchid Violet, 128 GB) </h4>
<ul>
<li> 6 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
 <li> 16.51 cm (6.5 inch) Full HD+ Display</li>
 <li> 50MP (OIS) + 8MP + 2MP | 13MP Front Camera</li>
  <li>6000 mAh Battery</li>
  <li>Exynos 1280 Processor</li>
</ul>
<p>₹16,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-f34-1.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy F34 5G (Electric Black, 128 GB) </h4>
<ul>
<li> 6 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
 <li> 16.51 cm (6.5 inch) Full HD+ Display</li>
 <li> 50MP (OIS) + 8MP + 2MP | 13MP Front Camera</li>
  <li>6000 mAh Battery</li>
  <li>Exynos 1280 Processor</li>
</ul>
<p>₹16,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  
  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-f13.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB) </h4>
<ul>
<li>4 GB RAM | 64 GB ROM | Expandable Upto 1 TB</li>
  <li> cm (6.6 inch) Full HD+ Display</li>
 <li>50MP + 5MP + 2MP | 8MP Front Camera</li>
 <li> 6000 mAh Lithium Ion Battery</li>
  <li>Exynos 850 Processor</li>
</ul>
<p>₹8,199<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-f04.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy F04 (Opal Green, 64 GB) </h4>
<ul>
<li>4 GB RAM | 64 GB ROM | Expandable Upto 1 TB</li>
  <li>16.51 cm (6.5 inch) HD Display</li>
  <li>13MP + 2MP | 5MP Front Camera</li>
  <li>5000 mAh Lithium-Ion Battery</li>
 <li>Mediatek Helio P35 Processor</li>
</ul>
<p>₹6,799<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  
  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-s21.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Samsung Galaxy S21 FE 5G (Olive, 128 GB)  </h4>
<ul>
<li>8 GB RAM | 128 GB ROM</li>
 <li> 16.26 cm (6.4 inch) Full HD+ Display</li>
  <li>12MP + 12MP + 8MP (OIS) | 32MP Front Camera</li>
<li>4500 mAh Lithium-ion Battery</li>
  <li>Snapdragon 888 Processor</li>
</ul>
<p>₹33,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-s21-1.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Samsung Galaxy S21 FE 5G  (Navy, 256 GB) </h4>
<ul>
<li>8 GB RAM | 256GB ROM</li>
 <li> 16.26 cm (6.4 inch) Full HD+ Display</li>
  <li>12MP + 12MP + 8MP (OIS) | 32MP Front Camera</li>
<li>4500 mAh Lithium-ion Battery</li>
  <li>Snapdragon 888 Processor</li>
</ul>
<p>₹41,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  
  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-s21-1.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy S22 5G (Green, 128 GB)  </h4>
<ul>
<li>8 GB RAM | 128 GB ROM</li>
 <li> 15.49 cm (6.1 inch) Full HD+ Display</li>
  <li>50MP + 12MP + 10MP | 10MP Front Camera</li>
  <li>3700 mAh Lithium-ion Battery</li>
  <li>Snapdragon 8 Gen 1 Processor</li>
</ul>
<p>₹41,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-s23.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy S23 5G (Phantom Black, 256 GB)  </h4>
<ul>
<li>8 GB RAM | 256 GB ROM</li>
 <li>15.49 cm (6.1 inch) Full HD+ Display</li>
  <li>50MP + 10MP + 12MP | 12MP Front Camera</li>
 <li> 3900 mAh Lithium Ion Battery</li>
 <li> Qualcomm Snapdragon 8 Gen 2 Processor</li>
</ul>
<p>₹79,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-s22-ultra.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy S22 Ultra 5G (Green, 256 GB)   </h4>
<ul>
<li>12 GB RAM | 256 GB ROM</li>
  <li>17.27 cm (6.8 inch) Quad HD+ Display</li>
  <li>108MP + 12MP + 10MP + 10MP | 40MP Front Camera</li>
  <li>5000 mAh Lithium-ion Battery</li>
  <li>Octa Core Processo</li>
</ul>
<p>₹88,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-s21-ultra.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy S21 Ultra (Phantom Black, 256 GB)   </h4>
<ul>
<li>12 GB RAM | 256 GB ROM</li>
  <li>17.27 cm (6.8 inch) Quad HD+ Display</li>
  <li>108MP + 12MP + 10MP + 10MP | 40MP Front Camera</li>
  <li>5000 mAh Lithium-ion Battery</li>
  <li>Exynos 2100 Processor</li>
</ul>
<p>₹83,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-s23-ultra.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy S23 Ultra 5G (Green, 256 GB)    </h4>
<ul>
<li>12 GB RAM | 256 GB ROM</li>
 <li> 17.27 cm (6.8 inch) Quad HD+ Display</li>
  <li>200MP + 10MP + 12MP + 10MP | 12MP Front Camera</li>
  <li>5000 mAh Lithium Ion Battery</li>
  <li>Qualcomm Snapdragon 8 Gen 2 Processor</li>
</ul>
<p>₹1,24,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/galaxy/galaxy-s23-1-ultra.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">SAMSUNG Galaxy S23 Ultra 5G (Cream, 256 GB)     </h4>
<ul>
<li>12 GB RAM | 256 GB ROM</li>
 <li> 17.27 cm (6.8 inch) Quad HD+ Display</li>
  <li>200MP + 10MP + 12MP + 10MP | 12MP Front Camera</li>
  <li>5000 mAh Lithium Ion Battery</li>
  <li>Qualcomm Snapdragon 8 Gen 2 Processor</li>
</ul>
<p>₹1,24,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>