<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div class="card">
    <img class="card-img-top" src="assets/oppo/oppo -find-n3.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">OPPO Find N3 Flip (Cream Gold, 256 GB)  </h4>
  <ul>
  <li>12 GB RAM | 256 GB ROM</li>
    <li>17.27 cm (6.8 inch) Full HD Display</li>
    <li>50MP + 48MP + 32MP | 32MP Front Camera</li>
   <li> 4300 mAh Battery</li>
   <li>Mediatek Dimensity 9200 Processor</li>
  </ul>   
  <p>₹94,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="assets/oppo/oppo-reno10pro.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">OPPO Reno10 Pro+ 5G (Silvery Grey, 256 GB)   </h4>
      <ul>
   <li>12 GB RAM | 256 GB ROM</li>
    <li>17.12 cm (6.74 inch) Full HD+ Display</li>
   <li> 50MP + 64MP + 8MP | 32MP Front Camera</li>
    <li>4700 mAh Battery</li>
    <li>Snapdragon 8+ Gen 1 Processor</li>
      </ul>   
      <p>₹54,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
          <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="assets/oppo/oppo-reno10.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">OPPO Reno10 5G (Silvery Grey, 256 GB)   </h4>
          <ul>
     <li>8 GB RAM | 256 GB ROM</li>
        <li>17.02 cm (6.7 inch) Full HD+ Display</li>
       <li> 64MP + 32MP + 8MP | 32MP Front Camera</li>
        <li>5000 mAh Battery</li>
        <li>Mediatek Dimensity 7050 Processor</li>
          </ul>   
          <p>₹32,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
              <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
            </div>

            
        <div class="card">
            <img class="card-img-top" src="assets/oppo/oppo-a78.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">OPPO A78 5G (Glowing Black, 128 GB)  </h4>
          <ul>
    <li>8 GB RAM | 128 GB ROM</li>
       <li> 16.66 cm (6.56 inch) HD+ Display</li>
        <li>50MP + 2MP | 8MP Front Camera</li>
        <li>5000 mAh Battery</li>
       <li> 6833 Processor</li>
          </ul>   
          <p>₹18,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
              <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="assets/oppo/oppo-a58.webp" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">OPPO A58 (Glowing Black, 128 GB)   </h4>
              <ul>
  <li>6 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
   <li> 17.07 cm (6.72 inch) Full HD+ Display</li>
    <li>50MP + 2MP | 8MP Front Camera</li>
    <li>5000 mAh Battery</li>
   <li> Helio G85 Processor</li>
              </ul>   
              <p>₹12,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
                  <a href="#" class="btn btn-primary">Add to Card</a>
                </div>
            </div>

                <div class="card">
                    <img class="card-img-top" src="assets/oppo/oppo-f23.webp" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">OPPO F23 5G (Bold Gold, 256 GB)   </h4>
                  <ul>
              <li>8 GB RAM | 256 GB ROM | Expandable Upto 1 TB</li>
               <li> 17.07 cm (6.72 inch) Full HD+ Display</li>
               <li> 64MP + 2MP + 2MP | 32MP Front Camera</li>
              <li>5000 mAh Battery</li>
                <li>Snapdragon 695 Processor</li>
                  </ul>   
                  <p>₹22,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
                      <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="assets/oppo/oppo-a18.webp" alt="Card image cap" style="width: 180px;">
                        <div class="card-body">
                          <h4 class="card-title">OPPO A18 (Glowing Black, 64 GB)   </h4>
                      <ul>
                  <li>4 GB RAM | 64 GB ROM</li>
                  <li> 40.64 cm (16 inch) HD+ Display</li>
                   <li> 8MP + 8MP + 2MP | 5MP Dual Front Camera</li>
                    <li>5000 mAh Battery</li>
                  <li>  Helio G85 Processor</li>
                      </ul>   
                      <p>₹9,468<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
                          <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top" src="assets/oppo/oppo-a17.webp" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title">OPPO A17 (Lake Blue, 64 GB)    </h4>
                          <ul>
                      <li>4 GB RAM | 64 GB ROM | Expandable Upto 2 TB</li>
                        <li>16.66 cm (6.56 inch) HD+ Display</li>
                      <li>50MP + 0.3MP + 0.3MP | 5MP Front Camera</li>
                       <li>5000 mAh Lithium-ion Polymer Battery</li>
                      <li> Mediatek Helio G35 Processor</li>
                          </ul>   
                          <p>₹9,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
                              <a href="#" class="btn btn-primary">Add to Card</a>
                            </div>
                            </div>

                            
                        <div class="card">
                            <img class="card-img-top" src="assets/oppo/oppo-a79.webp" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title">OPPO A79 5G (Mystery Black, 128 GB)    </h4>
                          <ul>
                     <li>8 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
                       <li>17.07 cm (6.72 inch) Full HD+ Display</li>
                       <li>Rear Camera: 50MP AI Camera, 2MP Portrait Camera;nKJJ</li>
                       <li> 5000 mAh Lithium Polymer Battery</li>
                     <li>Mediatek Dimensity 6020 Processor</li>
                          </ul>
                          <p>₹19,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
                              <a href="#" class="btn btn-primary">Add to Card</a>
                          </div>
                          </div>

                          <div class="card">
                            <img class="card-img-top" src="assets/oppo/oppo-a38.webp" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title"> OPPO A38 (Glowing Gold, 128 GB)    </h4>
                          <ul>
                    <li>4 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
                       <li> 16.66 cm (6.56 inch) HD Display</li>
                       <li> 50MP + 2MP | 5MP Front Camera</li>
                        <li>5000 mAh Battery</li>
                      <li>  Helio G70 (MT6769) Processor</li>
                          </ul>
                          <p>₹11,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
                              <a href="#" class="btn btn-primary">Add to Card</a>
                          </div>
                          </div>

