
.btn{
    background: transparent;
    color: white;
margin-left: 20px;
   
}
.btn:hover{
    border: 2px solid orange;
}

.head-nav{
    width: 100%;
    background-color: rgb(33, 33, 39);
    height: 40px;
position: relative;
justify-content: space-between;
}
.head-nav img{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    margin-left: 250px;
}
span{
    color: white;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.sidenav{
    background-color: rgb(27, 25, 25);
    color: white;
    width: 18%;
    position: absolute;
    min-height: 100vh;
   overflow-y:scroll;
   overflow:visible;
    
}
#mySidenav{
    overflow-y: scroll;
    scroll-snap-type: mandatory;
}
.sidenav::-webkit-scrollbar {
    width: 12px;
}
.sidenav::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 10px;
}

.sidenav::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 10px;
}
.sidename{
padding-top: 10px;
padding-left: 20px;

}
.li{
    padding: 10px;
    font-size: 23px;
    list-style-type: none;
}
li{
    list-style: none;
    margin-top: 7px;
}
i{
    margin-left: 20px;
    
}
span{
    font-size: 17px;
cursor:pointer;

}
#icon{
    font-size: 7px;
}
.li ul li{
    font-size: 18px;
}
.sidename{
    font-size: 20px;
 
    color: orange;
    
}
@media(max-width:1283px){
    #span{
        display: none;
    }
    img{
        display: none;
    }
}
@media(max-width:1128px){
 img {
    display: none;
}
#span{
    display: none;
}
}
@media(max-width:830px){
    .head-nav button{
        font-size: 13px;
        margin-left: -5px;
    
    }
   
}
@media(max-width:627px){
#all{
  position: absolute;
  top:-45px;
  font-size: 23px;
  display:block;
}
#name{
 display: none;
 
}
#but:hover{
    width: 0%;
    height: 0%;
    border: 2px solid transparent;
   
}
#toy{
    display: none;
}
}

