<div class="head"><app-home-head></app-home-head></div>
<div class="head-nav"><app-head-nav></app-head-nav></div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="assets/all-electronics/banner1.avif" alt="Carousel_Image1" style="width:100%;height: 350px;">
    </div>
<div class="carousel-item ">
    <img src="assets/all-electronics/banner2.avif" alt="Carousel_Image1" style="width:100%;height: 350px;">
  </div>

  <div class="carousel-item ">
    <img src="assets/all-electronics/banner3.avif" alt="Carousel_Image1" style="width:100%;height: 350px;">
  </div>

  <div class="carousel-item ">
    <img src="assets/all-electronics/banner4.avif" alt="Carousel_Image1" style="width:100%;height: 350px;">
  </div>

  <div class="carousel-item ">
    <img src="assets/all-electronics/banner5.avif" alt="Carousel_Image1" style="width:100%;height: 350px;">
  </div>

</div>
</div>
<div class="page">
<div class="row">
<div class="row-sm-2">
<div class="card" [routerLink]="['/laptop']">
    <img class="card-img-top" src="assets/laptop/Lenovo-12450H.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">Lenovo LOQ Intel Core i5 12th Gen 12450H</h6>  
  <p>₹20,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>


    </div>
  </div>
  <div class="card" [routerLink]="['/laptop']" >
    
    <img class="card-img-top" src="assets/laptop/Dell-1215U.webp" alt="Card image cap"  style="width: 160px;">
    <div class="card-body">
      <h6 class="card-title">DELL Intel Core i3 12th Gen 1215U  </h6>  
  <p>₹36,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      
    </div>
  </div>
  <div class="card" [routerLink]="['/laptop']">
    <img class="card-img-top" src="assets/laptop/Galaxy-Book3.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">SAMSUNG Galaxy Book3 Intel Core i5 </h6>  
  <p>₹64,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      
    </div>
  </div>
  <div class="card" [routerLink]="['/macbook']">
    <img class="card-img-top" src="assets/macbook/macbook Air 1.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">APPLE 2020 Macbook Air Apple M1</h6>  
  <p>₹83,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      
    </div>
  </div>
  <div class="card" [routerLink]="['/macbook']">
    <img class="card-img-top" src="assets/macbook/macbook Air m2-2.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">APPLE 2022 MacBook Pro Apple M2</h6>  
  <p>₹1,04990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
</div>
</div>
</div>
</div>
  <div class="banner">
    <img src="assets/all-electronics/banner6.avif">
  </div>
  <div class="card" [routerLink]="['/smartwatch']">
    
    <img class="card-img-top" src="assets/smartwatch/Noise-Icon-1.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">Noise Icon 3 1.91" Watch</h6>  
  <p>₹1,399<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
      
    </div>
  </div>
  <div class="card" [routerLink]="['/smartwatch']">
    <img class="card-img-top" src="assets/smartwatch/Fire-Boltt.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">Fire-Boltt Talk 1.28" HD Watch</h6>   
  <p>₹999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    </div>
  </div>
  <div class="card" [routerLink]="['/smartwatch']">
    <img class="card-img-top" src="assets/smartwatch/Boult Drift BT.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">Boult Drift BT Calling 1.69" HD Watch</h6>   
  <p>₹1,099<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    </div>
  </div>
  <div class="card" [routerLink]="['/smartwatch']">
    <img class="card-img-top" src="assets/smartwatch/Fastrack-FS1.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">Fastrack Revoltt FS1 Pro</h6>   
  <p>₹2,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    </div>
  </div>
  <div class="card" [routerLink]="['/smartwatch']">
    <img class="card-img-top" src="assets/smartwatch/Boult Crown.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">Boult Crown 1.95'' Screen</h6>   
  <p>₹1,299<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    </div>
  </div>
  <div class="banner">
    <img src="assets/all-electronics/banner7.avif">
  </div>
  <div class="card" [routerLink]="['/headphones']">
    <img class="card-img-top" src="assets/headphones/apple-airpets.webp" alt="Card image cap" >
    <div class="card-body">
      <h6 class="card-title">Apple AirPods(2nd gen)</h6>   
  <p>₹9,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    </div>
  </div>
  <div class="card" [routerLink]="['/headphones']">
    <img class="card-img-top" src="assets/headphones/1+.webp" alt="Card image cap"  >
    <div class="card-body">
      <h6 class="card-title">OnePlus Bullets Wireless Heatset</h6>   
  <p>₹1,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    </div>
  </div>
  <div class="card" [routerLink]="['/headphones']">
    <img class="card-img-top" src="assets/headphones/1+.webp" alt="Card image cap"  >
    <div class="card-body">
      <h6 class="card-title">OnePlus Bullets Wireless Heatset</h6>   
  <p>₹1,999<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
    </div>
  </div>
  <div class="card" [routerLink]="['/headphones']">
  <img class="card-img-top" src="assets/headphones/apple-airpots-pro.webp" alt="Card image cap" >
  <div class="card-body">
    <h6 class="card-title">APPLE AirPods Pro Bluetooth Heatset</h6>   
<p>₹21,990<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  </div>
</div>
<div class="card" [routerLink]="['/headphones']">
  <img class="card-img-top" src="assets/headphones/realme-T100.webp" alt="Card image cap"  >
  <div class="card-body">
    <h6 class="card-title">realme Buds T100 Bluetooth Heatset</h6>   
<p>₹1,499<img  class="image" src="assets/sidenav-image/logo.jpg"><span>Assured</span></p>
  </div>
</div>