
.sidenav{
    background-color: rgb(43, 41, 41);
    width: 20%;
    position: fixed;
    
    
}
.sidenav-logo {
    margin-top: 20px;
}
.sidenav-logo  img{
    width: 50px;
    height: 30px;
    border-radius: 50%;
  
}
.sidenav-logo span{
color: white;
font-size: 12px;
padding: 0 20px  0 10px;

}
.head{
    background-color: black;
    width: 100%;
    height: 70px;
    
   

}
.head img{
    width:70px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}
.head span{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
.head input{
    margin-left: 60px;
    width: 40%;
    height: 30px;
    margin-top: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid white;
}
button{
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
    width:30px;
    height: 30px;
    background-color: orange;
    border: 2px solid orange;
}
.button-login{
   margin-left:10px;
  
    margin-top: -45px;
  
    height: 30px;
    width: 70px;
    border-radius: 10px;
    background-color:lightseagreen;
    border: 2px solid lightseagreen;
    
}
a{
    text-decoration: none;
    color: white;
}
#card-link{
    margin-left:10%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
span{
font-size: 15px;
cursor: pointer;

}
i{
    color: white;
}
@media screen and (max-width:990px) {
  .head img{
    width: 30px;
    height: 20px;
 margin-top: -8px;
    margin-left:40px;
  }
  #head-name{
    font-size: 15px;
 
   
  }
  #card-link{
    margin-top: -60px;
  }
 
}